---
http_interactions:
- request:
    method: get
    uri: http://ec2-35-172-209-94.compute-1.amazonaws.com//api/v1/courses/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer H9ZSXyGADhaRfIqURQMsQaZrAttGFhkFNjYCvM2wkVEzVm9sHfgF9tvgZ7lN2unM
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.08793751899999318'
      X-Session-Id:
      - 47cb3d86ca474b186c06eab02aaf5631
      X-Request-Context-Id:
      - e654637c-2805-4264-9789-e96a797cc983
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000010;dk=10000000000002;o=courses;n=show;t=Course;i=1;b=978456;m=978456;u=0.07;y=0.00;d=0.02;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"24180b8a8e70f3d9384046c86021b8ac"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Avengers","account_id":3,"uuid":"9r5dJXEIQcgacsX9LYne0zVjZAfN5w2aP9i47asw","start_at":null,"grading_standard_id":null,"is_public":true,"created_at":"2018-10-30T15:14:50Z","course_code":"Avengers","default_view":"modules","root_account_id":1,"enrollment_term_id":1,"end_at":null,"public_syllabus":false,"public_syllabus_to_auth":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"hide_final_grades":false,"apply_assignment_group_weights":false,"calendar":{"ics":"http://ec2-35-172-209-94.compute-1.amazonaws.com/feeds/calendars/course_9r5dJXEIQcgacsX9LYne0zVjZAfN5w2aP9i47asw.ics"},"time_zone":"America/Denver","sis_course_id":null,"sis_import_id":null,"integration_id":null,"enrollments":[{"type":"teacher","role":"TeacherEnrollment","role_id":4,"user_id":1,"enrollment_state":"active"}],"workflow_state":"unpublished","restrict_enrollments_to_course_dates":false}'
  recorded_at: Tue, 06 Nov 2018 17:49:50 GMT
recorded_with: VCR 4.0.0
