---
http_interactions:
- request:
    method: get
    uri: http://ec2-35-172-209-94.compute-1.amazonaws.com//api/v1/courses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer H9ZSXyGADhaRfIqURQMsQaZrAttGFhkFNjYCvM2wkVEzVm9sHfgF9tvgZ7lN2unM
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '1.022822090000007'
      X-Session-Id:
      - 4e74178311d4940699064ecba2269083
      X-Request-Context-Id:
      - c577b333-a9f3-43e7-a1f7-bee2e66bc48c
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000010;dk=10000000000002;o=courses;n=index;b=971524;m=978456;u=0.93;y=0.01;d=0.09;
      X-Canvas-User-Id:
      - '10000000000001'
      Link:
      - <http://ec2-35-172-209-94.compute-1.amazonaws.com/api/v1/courses?page=1&per_page=10>;
        rel="current",<http://ec2-35-172-209-94.compute-1.amazonaws.com/api/v1/courses?page=1&per_page=10>;
        rel="first",<http://ec2-35-172-209-94.compute-1.amazonaws.com/api/v1/courses?page=1&per_page=10>;
        rel="last"
      Etag:
      - W/"8b46c75b96726fead9e0ad9d825fba24"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Avengers","account_id":3,"uuid":"9r5dJXEIQcgacsX9LYne0zVjZAfN5w2aP9i47asw","start_at":null,"grading_standard_id":null,"is_public":true,"created_at":"2018-10-30T15:14:50Z","course_code":"Avengers","default_view":"modules","root_account_id":1,"enrollment_term_id":1,"end_at":null,"public_syllabus":false,"public_syllabus_to_auth":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"http://ec2-35-172-209-94.compute-1.amazonaws.com/feeds/calendars/course_9r5dJXEIQcgacsX9LYne0zVjZAfN5w2aP9i47asw.ics"},"time_zone":"America/Denver","sis_course_id":null,"sis_import_id":null,"integration_id":null,"enrollments":[{"type":"teacher","role":"TeacherEnrollment","role_id":4,"user_id":1,"enrollment_state":"active"}],"hide_final_grades":false,"workflow_state":"unpublished","restrict_enrollments_to_course_dates":false},{"id":3,"name":"Fearless
        Intro","account_id":3,"uuid":"3fDw68XSwwZ8jaqwat2Odryl8LVrhhbhxYsyZlrP","start_at":null,"grading_standard_id":null,"is_public":false,"created_at":"2018-11-05T14:50:21Z","course_code":"Fearless","default_view":"modules","root_account_id":1,"enrollment_term_id":1,"end_at":null,"public_syllabus":false,"public_syllabus_to_auth":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"apply_assignment_group_weights":false,"calendar":{"ics":"http://ec2-35-1[...]
