---
http_interactions:
- request:
    method: put
    uri: http://ec2-35-172-209-94.compute-1.amazonaws.com/api/v1/courses/2
    body:
      encoding: UTF-8
      string: id=2&course[name]=foo&course[course_code]=
    headers:
      Authorization:
      - Bearer H9ZSXyGADhaRfIqURQMsQaZrAttGFhkFNjYCvM2wkVEzVm9sHfgF9tvgZ7lN2unM
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.14238385600000455'
      X-Session-Id:
      - 31615f8ecc3a4b23f00c3e634307e2d2
      X-Request-Context-Id:
      - d5979efc-66e8-404d-bb7e-61ba9e76e1b9
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000010;dk=10000000000002;o=courses;n=update;b=1091828;m=1091828;u=0.12;y=0.00;d=0.02;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"04bff309ce377fe9b89b42223bdd2638"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":2,"account_id":3,"name":"foo","course_code":"foo","uuid":"o7YnUC4dbzWQKAfNknzeeNCP9UcKyeuFSCA4GAWN","start_at":null,"grading_standard_id":null,"is_public":false,"created_at":"2018-10-31T17:01:09Z","default_view":"modules","root_account_id":1,"enrollment_term_id":1,"end_at":null,"public_syllabus":false,"public_syllabus_to_auth":false,"storage_quota_mb":500,"is_public_to_auth_users":false,"hide_final_grades":false,"apply_assignment_group_weights":false,"calendar":{"ics":"http://ec2-35-172-209-94.compute-1.amazonaws.com/feeds/calendars/course_o7YnUC4dbzWQKAfNknzeeNCP9UcKyeuFSCA4GAWN.ics"},"time_zone":"America/Denver","sis_course_id":null,"sis_import_id":null,"integration_id":null,"workflow_state":"unpublished","restrict_enrollments_to_course_dates":false}'
  recorded_at: Wed, 07 Nov 2018 19:54:24 GMT
recorded_with: VCR 4.0.0
