---
http_interactions:
- request:
    method: get
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.047774123000020464'
      X-Session-Id:
      - c1af5c7971f1c6c488868f68fbc12963
      X-Request-Context-Id:
      - 5d3ab4a6-3a93-4293-8b70-9c985f5ebf96
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=users;n=api_show;b=937504;m=937504;u=0.04;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"547fe815a8f36cc9fc9ebccae7418ce3"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"foo","created_at":"2018-11-06T08:49:42-07:00","sortable_name":"S,Kelly","short_name":"Kelly","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email+1234@gmail.com","email":"email+3446@gmail.com","locale":null,"permissions":{"can_update_name":true,"can_update_avatar":false}}'
  recorded_at: Tue, 13 Nov 2018 19:47:57 GMT
recorded_with: VCR 4.0.0
