---
http_interactions:
- request:
    method: get
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.025332202999999574'
      X-Session-Id:
      - fde59d08765078d69639273918816fd5
      X-Request-Context-Id:
      - a6fc6e41-4a50-484b-b46a-af527cd94128
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=users;n=api_show;b=887052;m=887052;u=0.02;y=0.01;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"46d9d49a1d773a28efd5347257f06b0e"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"Brand New User","created_at":"2018-11-06T08:49:42-07:00","sortable_name":"New
        User, Brand","short_name":"B","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email+1234@gmail.com","email":"email+1234@gmail.com","locale":null,"permissions":{"can_update_name":true,"can_update_avatar":false}}'
  recorded_at: Fri, 09 Nov 2018 15:55:28 GMT
- request:
    method: get
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/16/custom_data/?ns=sba-eli-service
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.023893386999999572'
      X-Session-Id:
      - c96ae2951a579274c59c3780c9eb1eaf
      X-Request-Context-Id:
      - fd10a4da-8a35-4b2b-877e-0b10ba85cf51
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=custom_data;n=get_data;t=User;i=16;b=887052;m=887052;u=0.02;y=0.00;d=0.00;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"7ba62f889ab461d7643bf78f93a48a72"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"race":"yes","fruit":"pear","color":"purple"}}'
  recorded_at: Fri, 09 Nov 2018 15:55:28 GMT
recorded_with: VCR 4.0.0
