---
http_interactions:
- request:
    method: put
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/41/custom_data/
    body:
      encoding: UTF-8
      string: ns=sba-eli-service&data[race]=yes&data[fruit]=apple&data[color]=purple
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Request-Cost:
      - '0.048350475999992044'
      X-Session-Id:
      - 17e50efeb850453d9ef5a67a432a211d
      X-Request-Context-Id:
      - 7c119a5e-356d-4c96-b126-c4e5e03c504e
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=custom_data;n=set_data;t=User;i=41;b=1076536;m=1076536;u=0.04;y=0.01;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"a73699faaa822414d59467c8fa555267"
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"race":"yes","fruit":"apple","color":"purple"}}'
  recorded_at: Tue, 13 Nov 2018 21:17:39 GMT
recorded_with: VCR 4.0.0
