---
http_interactions:
- request:
    method: post
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/accounts/1/users/
    body:
      encoding: UTF-8
      string: user[name]=Brand%20New%20APIUser&user[sortable_name]=New%20APIUser%2C%20Brand&user[short_name]=B&user[email]=email%2B12345%40gmail.com&pseudonym[unique_id]=email%2B12345%40gmail.com
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.09698707099998408'
      X-Session-Id:
      - 82eb82a12d859858abd07b026151fce3
      X-Request-Context-Id:
      - 81e77cbd-c397-4e2f-9876-b87959561b18
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=users;n=create;t=Account;i=1;b=1076536;m=1076536;u=0.08;y=0.00;d=0.02;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"d5a16a4819559a4103c93bcf8d53f8d7"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":41,"name":"Brand New APIUser","created_at":"2018-11-13T15:55:48-05:00","sortable_name":"New
        APIUser, Brand","short_name":"B","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email+12345@gmail.com","locale":null}'
  recorded_at: Tue, 13 Nov 2018 20:54:59 GMT
recorded_with: VCR 4.0.0
