---
http_interactions:
- request:
    method: post
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/accounts/1/users/
    body:
      encoding: UTF-8
      string: user[name]=Brand%20New%20APIUser&user[sortable_name]=New%20APIUser%2C%20Brand&user[short_name]=B&user[email]=email%2B1234%40gmail.com&pseudonym[unique_id]=email123asdf%40gmail.com
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.0956786110000054'
      X-Session-Id:
      - c670b658c9696dba70707c6d388e4203
      X-Request-Context-Id:
      - fc359680-be5f-4922-9017-2b6ac5ff8013
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=users;n=create;t=Account;i=1;b=887052;m=887052;u=0.08;y=0.00;d=0.02;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"d6eec9802d0b64c275e99e81c3789453"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":36,"name":"Brand New APIUser","created_at":"2018-11-09T13:35:00-07:00","sortable_name":"New
        APIUser, Brand","short_name":"B","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email123asdf@gmail.com","locale":null}'
  recorded_at: Fri, 09 Nov 2018 20:34:23 GMT
recorded_with: VCR 4.0.0
