---
http_interactions:
- request:
    method: delete
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/3/custom_data/?ns=sba-eli-service
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Request-Cost:
      - '0.024129966000003125'
      X-Session-Id:
      - e5561f1b4537b2d2cb29e74ae582a190
      X-Request-Context-Id:
      - b35adbac-d273-4029-b6d7-0406b36fb4c9
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;b=887052;m=887052;u=0.02;y=0.00;d=0.00;
      X-Canvas-User-Id:
      - '10000000000001'
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
                   "id": 10,
                   "name": "User Test",
                   "created_at": "2018-11-05T09:26:14-07:00",
                   "sortable_name": "Test, User",
                   "short_name": "U-Test",
                   "sis_user_id": null,
                   "integration_id": null,
                   "sis_import_id": null,
                   "email": "email+2@gmail.com",
                   "locale": null,
                   "permissions": {
                       "can_update_name": true,
                       "can_update_avatar": false
                   },
                   "data": {
                       "race": "yes",
                       "fruit": "pear",
                       "color": "purple"
                   }
               }'
  recorded_at: Fri, 09 Nov 2018 19:24:41 GMT
- request:
    method: delete
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/accounts/1/users/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Request-Cost:
      - '0.04918830499999915'
      X-Session-Id:
      - 4b18c5957277741256691d78bf64ce49
      X-Request-Context-Id:
      - 8cc08e67-f06d-4b0b-a998-8ff93f756b50
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;b=887052;m=887052;u=0.04;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Status:
      - 404 Not Found
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"The specified resource does not exist."}],"error_report_id":60}'
  recorded_at: Fri, 09 Nov 2018 19:24:41 GMT
recorded_with: VCR 4.0.0
