---
http_interactions:
- request:
    method: delete
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/accounts/1/users/40
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.2094835099999875'
      X-Session-Id:
      - 33b399cc34aedeac8ca34010a392fb20
      X-Request-Context-Id:
      - 75611393-0ca4-496b-bac9-99040f1d4285
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=accounts;n=remove_user;t=Account;i=1;b=862760;m=862760;u=0.17;y=0.00;d=0.04;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"d49f0ed93f37e34b6e7ac165fa3a106e"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"user":{"id":40,"name":"Brand New APIUser","sortable_name":"New APIUser,
        Brand","workflow_state":"pre_registered","time_zone":null,"created_at":"2018-11-13T20:48:45Z","updated_at":"2018-11-13T20:48:45Z","avatar_image_url":null,"avatar_image_source":null,"avatar_image_updated_at":null,"school_name":null,"school_position":null,"short_name":"B","deleted_at":null,"show_user_services":true,"gender":null,"page_views_count":0,"reminder_time_for_due_dates":172800,"reminder_time_for_grading":0,"storage_quota":null,"visible_inbox_types":null,"last_user_note":null,"subscribe_to_emails":null,"preferences":{},"avatar_state":"none","locale":null,"browser_locale":null,"unread_conversations_count":0,"stuck_sis_fields":["name","short_name","sortable_name"],"public":null,"birthdate":null,"initial_enrollment_type":null,"crocodoc_id":null,"last_logged_out":null,"lti_context_id":null,"turnitin_id":null}}'
  recorded_at: Wed, 14 Nov 2018 14:02:47 GMT
recorded_with: VCR 4.0.0
