---
http_interactions:
- request:
    method: put
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/16
    body:
      encoding: UTF-8
      string: user[name]=Different%20name%20for%20APIUser&user[sortable_name]=New%20APIUser%2C%20Brand&user[short_name]=B&user[email]=email%2B123456%40gmail.com
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.07507919300000228'
      X-Session-Id:
      - 5498b78e0983b2170453288b48a599f9
      X-Request-Context-Id:
      - c53c4950-a4c2-4cd7-a36b-28f74494ee7a
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=users;n=update;b=1076536;m=1076536;u=0.06;y=0.00;d=0.02;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"d8d17a46cdd1e67b2821f928c0e46580"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"Different name for APIUser","created_at":"2018-11-06T10:49:42-05:00","sortable_name":"New
        APIUser, Brand","short_name":"B","sis_user_id":null,"integration_id":null,"sis_import_id":null,"email":"email+123456@gmail.com","locale":null,"time_zone":"Mountain
        Time (US \u0026 Canada)"}'
  recorded_at: Tue, 13 Nov 2018 20:53:04 GMT
recorded_with: VCR 4.0.0
