---
http_interactions:
- request:
    method: put
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/16
    body:
      encoding: UTF-8
      string: user[name]=foo&user[sortable_name]=S%2CKelly&user[short_name]=Kelly&user[email]=email%2B3446%40gmail.com&pseudonym[unique_id]=email%2B789%40gmail.com
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.08689382200000029'
      X-Session-Id:
      - '04709c9a509178c00d0ac6f18cc2b274'
      X-Request-Context-Id:
      - 81dcac50-bb9a-4d12-9dba-4da562c63c5c
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=users;n=update;b=887052;m=887052;u=0.07;y=0.01;d=0.02;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"243de44b9b1216ab56c303bb7793d6a9"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"foo","created_at":"2018-11-06T08:49:42-07:00","sortable_name":"S,Kelly","short_name":"Kelly","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email+1234@gmail.com","email":"email+3446@gmail.com","locale":null,"time_zone":"Mountain
        Time (US \u0026 Canada)"}'
  recorded_at: Fri, 09 Nov 2018 19:52:07 GMT
- request:
    method: put
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/users/16/custom_data/
    body:
      encoding: UTF-8
      string: data[user][linked_in]=http%3A%2F%2Fwww.google.com&data[user][zipcode]=06320&data[user][percent_ownership]=97&data[user][goal_percent_revenue]=12&data[user][goal_revenue_amount]=1000&data[user][goal_percent_increase_employees]=15&data[user][goal_increase_employee_amount]=160&data[user][race][]=race1&data[user][race][]=race2&data[user][ethn[...]
