---
http_interactions:
- request:
    method: post
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com//api/v1/accounts/1/users/
    body:
      encoding: UTF-8
      string: user[name]=Jane%20Doe&user[sortable_name]=Doe%2C%20Jane&user[short_name]=&user[email]=john.doe%40doe.com&pseudonym[unique_id]=john.doe%40doe.com
    headers:
      Authorization:
      - Bearer ilZiJyoHXsuRFcMo0QU3wH1O54LoJsBvqcE7zbNnKo8TvKOegTnbAEr4Ne1MBdzX
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Request-Cost:
      - '0.8071446129999972'
      X-Session-Id:
      - df27f742bbd21deb7c30b9eacdc9ff5e
      X-Request-Context-Id:
      - ea4f1876-bcb6-46dd-b909-800efbdb413a
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000027;dk=10000000000002;o=users;n=create;t=Account;i=1;b=989180;m=989180;u=0.80;y=0.01;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"user":{"pseudonyms":[{"attribute":"pseudonyms","type":"invalid","message":"invalid"}]},"pseudonym":{"unique_id":[{"attribute":"unique_id","type":"taken","message":"ID
        already in use for this account and authentication provider"}]},"observee":{},"pairing_code":{}}}'
  recorded_at: Tue, 20 Nov 2018 20:52:16 GMT
recorded_with: VCR 4.0.0
