---
http_interactions:
- request:
    method: get
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com//api/v1/accounts/1/users/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ilZiJyoHXsuRFcMo0QU3wH1O54LoJsBvqcE7zbNnKo8TvKOegTnbAEr4Ne1MBdzX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.07898230800000028'
      X-Session-Id:
      - 69c4e04f56482f4afae60438430d564c
      X-Request-Context-Id:
      - 33201ade-f8d8-4de4-b1c8-bb3e67530b9c
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000027;dk=10000000000002;o=users;n=index;t=Account;i=1;b=913480;m=913480;u=0.07;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Link:
      - <http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=1&per_page=10>;
        rel="current",<http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=2&per_page=10>;
        rel="next",<http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=1&per_page=10>;
        rel="first",<http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=2&per_page=10>;
        rel="last"
      Etag:
      - W/"079d43b8c51b620677c2316022ac60ae"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":2,"name":"Test USer 1","created_at":"2018-11-09T09:25:41-07:00","sortable_name":"1,
        Test USer","short_name":"Test USer 1","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"testuser@test.com"},{"id":1,"name":"canvas@fearless.tech","created_at":"2018-10-22T08:51:52-06:00","sortable_name":"canvas@fearless.tech","short_name":"canvas@fearless.tech","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"canvas@fearless.tech"},{"id":12,"name":"Jane
        Doe","created_at":"2018-11-14T20:48:12-07:00","sortable_name":"Doe, Jane","short_name":"Jane
        Doe","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"jane.doe@example.c[...]
