---
http_interactions:
- request:
    method: get
    uri: http://ec2-34-205-29-33.compute-1.amazonaws.com//api/v1/accounts/1/users/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer SpTqHFpgsZavL2CcexDWsEr6IaJa8vypaDxvNDWwTBmGK22GxTYZLYXmpJCbNvDB
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.08785247200000185'
      X-Session-Id:
      - 0b175c50b57eba85ad6814342630ebba
      X-Request-Context-Id:
      - 5aa009ea-cce4-407f-aaff-08f2d7798a1c
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000012;dk=10000000000002;o=users;n=index;t=Account;i=1;b=887052;m=887052;u=0.08;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Link:
      - <http://ec2-34-205-29-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=1&per_page=10>;
        rel="current",<http://ec2-34-205-29-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=2&per_page=10>;
        rel="next",<http://ec2-34-205-29-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=1&per_page=10>;
        rel="first",<http://ec2-34-205-29-33.compute-1.amazonaws.com/api/v1/accounts/1/users?page=2&per_page=10>;
        rel="last"
      Etag:
      - W/"67522ec9cf82816cd57f5c8b31c1c0de"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":16,"name":"Brand New User","created_at":"2018-11-06T08:49:42-07:00","sortable_name":"New
        User, Brand","short_name":"B","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email+1234@gmail.com"},{"id":19,"name":"Brand
        New User","created_at":"2018-11-07T23:21:33-07:00","sortable_name":"New User,
        Brand","short_name":"B","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email+1231211111@gmail.com"},{"id":25,"name":"Kelly
        S","created_at":"2018-11-08T06:59:09-07:00","sortable_name":"S, Kelly","short_name":"Kelly","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"email+11111@gmail.com"},{"id":26,"n[...]
