---
http_interactions:
- request:
    method: post
    uri: https://cognito-idp.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ClientId":"76jcq337aei27va9q9gtaep0dh","AuthFlow":"USER_PASSWORD_AUTH","AuthParameters":{"USERNAME":"nick.watson@claritybizsol.com","PASSWORD":"thisIsn''tValid"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSCognitoIdentityProviderService.InitiateAuth
      X-Amz-Date:
      - 20181116T131457Z
      X-Amz-Content-Sha256:
      - 4794c09b4a4e51df4f127a2e4f03767602f79e02d4c2ce7e0f997b8056010e10
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJZGHKIZ5E5OPMZBQ/20181116/us-east-1/cognito-idp/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=eb8d227d034c25c443b103c530a8282dbb709d6469d20feecd5300f6f0f0d195
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 9d76b91f-e9a1-11e8-b661-7f479dfe086b
      X-Amzn-Errortype:
      - 'NotAuthorizedException:'
      X-Amzn-Errormessage:
      - Incorrect username or password.
    body:
      encoding: UTF-8
      string: '{"__type":"NotAuthorizedException","message":"Incorrect username or
        password."}'
  recorded_at: Fri, 16 Nov 2018 13:14:57 GMT
recorded_with: VCR 4.0.0
