---
http_interactions:
- request:
    method: post
    uri: https://cognito-idp.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ClientId":"76jcq337aei27va9q9gtaep0dh","AuthFlow":"USER_PASSWORD_AUTH","AuthParameters":{"USERNAME":"nick.watson@claritybizsol.com","PASSWORD":"thisIsn''tValid"}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSCognitoIdentityProviderService.InitiateAuth
      X-Amz-Date:
      - 20181116T190234Z
      X-Amz-Content-Sha256:
      - 4794c09b4a4e51df4f127a2e4f03767602f79e02d4c2ce7e0f997b8056010e10
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJZGHKIZ5E5OPMZBQ/20181116/us-east-1/cognito-idp/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=0fc8d541759c0516ff69da5680b5cdf411c99ace51d755e6163472d1dd276407
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 2d60e9e3-e9d2-11e8-8b44-6b5585fba2e3
      X-Amzn-Errortype:
      - 'NotAuthorizedException:'
      X-Amzn-Errormessage:
      - Incorrect username or password.
    body:
      encoding: UTF-8
      string: '{"__type":"NotAuthorizedException","message":"Incorrect username or
        password."}'
  recorded_at: Fri, 16 Nov 2018 19:02:34 GMT
recorded_with: VCR 4.0.0
