---
http_interactions:
- request:
    method: get
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/2/items/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ilZiJyoHXsuRFcMo0QU3wH1O54LoJsBvqcE7zbNnKo8TvKOegTnbAEr4Ne1MBdzX
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.035522307000001134'
      X-Session-Id:
      - 35e7f6fa8e78f0df0816143d14eaeef4
      X-Request-Context-Id:
      - f658362e-abb0-44a6-ace8-508a9e656951
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000027;dk=10000000000002;o=context_module_items_api;n=show;t=Course;i=1;b=1000904;m=1000904;u=0.03;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"bd81f192d67abb48f3e24822857d399a"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":4,"title":"Postman Test Update Rename","position":0,"indent":0,"type":"SubHeader","module_id":2,"published":false}'
  recorded_at: Mon, 26 Nov 2018 21:56:17 GMT
recorded_with: VCR 4.0.0
