---
http_interactions:
- request:
    method: get
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/2/items/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ilZiJyoHXsuRFcMo0QU3wH1O54LoJsBvqcE7zbNnKo8TvKOegTnbAEr4Ne1MBdzX
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.04465823600002047'
      X-Session-Id:
      - c5527311e87cd82cef336c6d5ed6bd31
      X-Request-Context-Id:
      - de84aaaf-faeb-4a61-8d14-910f7b09cf8d
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000027;dk=10000000000002;o=context_module_items_api;n=show;t=Course;i=1;b=1050008;m=1050008;u=0.04;y=0.00;d=0.00;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"bd81f192d67abb48f3e24822857d399a"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":4,"title":"Postman Test Update Rename","position":0,"indent":0,"type":"SubHeader","module_id":2,"published":false}'
  recorded_at: Thu, 15 Nov 2018 20:56:11 GMT
recorded_with: VCR 4.0.0
