---
http_interactions:
- request:
    method: put
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/1/items/3
    body:
      encoding: UTF-8
      string: '{"module_item":{"title":"Updated Rspec Title"},"course_id":"1","module_id":"1","controller":"learning_events","action":"update","id":"3"}'
    headers:
      Authorization:
      - Bearer ilZiJyoHXsuRFcMo0QU3wH1O54LoJsBvqcE7zbNnKo8TvKOegTnbAEr4Ne1MBdzX
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.08392163699999318'
      X-Session-Id:
      - 37ea96d4659e429b01e398c519e6ce1b
      X-Request-Context-Id:
      - f8339bc2-bd84-4257-be0c-db126b025625
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000027;dk=10000000000002;o=context_module_items_api;n=update;t=Course;i=1;b=1050008;m=1050008;u=0.07;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"d527ab1b13cedf43f9772798232d0e9c"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":3,"title":"Updated Rspec Title","position":3,"indent":0,"type":"Page","module_id":1,"html_url":"http://ec2-100-24-107-33.compute-1.amazonaws.com/courses/1/modules/items/3","page_url":"updated-rspec-title","url":"http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/pages/updated-rspec-title","published":true}'
  recorded_at: Thu, 15 Nov 2018 21:23:20 GMT
recorded_with: VCR 4.0.0
