/* LearningPath */
.path-header {
  color: #0b2f6b !important;
}

.path-header-share {
  display: inline-block;
  float: right;
}

.path-header-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.path-breadcrumb-row {
  margin-top: 1em !important;
}
