---
http_interactions:
- request:
    method: post
    uri: https://cognito-idp.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ClientId":"76jcq337aei27va9q9gtaep0dh","Username":"jack@jill.com","Password":"changeME123!","UserAttributes":[{"Name":"email","Value":"jack@jill.com"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSCognitoIdentityProviderService.SignUp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 5eba835f-e9a4-11e8-ab3e-bb4a5df5ad66
    body:
      encoding: UTF-8
      string: '{"CodeDeliveryDetails":{"AttributeName":"email","DeliveryMedium":"EMAIL","Destination":"j***@j***.com"},"UserConfirmed":false,"UserSub":"e96ad390-7fc6-4051-82fd-53d29471e34f"}'
  recorded_at: Fri, 16 Nov 2018 13:34:41 GMT
- request:
    method: post
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com//api/v1/accounts/1/users/
    body:
      encoding: UTF-8
      string: user[name]=Jack%20Jill&user[sortable_name]=Jill%2C%20Jack&user[short_name]=&user[email]=jack%40jill.com&pseudonym[unique_id]=jack%40jill.com
    headers:
      Authorization:
      - Bearer ilZiJyoHXsuRFcMo0QU3wH1O54LoJsBvqcE7zbNnKo8TvKOegTnbAEr4Ne1MBdzX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.15278474700000655'
      X-Session-Id:
      - b97a8e3186b76899e70d7b2004ada13c
      X-Request-Context-Id:
      - 86c30ac3-b152-44b4-ae86-df66f873cbb7
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000027;dk=10000000000002;o=users;n=create;t=Account;i=1;b=847944;m=913480;u=0.11;y=0.01;d=0.04;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"f5fbfcdf65ac0b7b5749dd50ea17a762"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":15,"name":"Jack Jill","created_at":"2018-11-16T06:34:24-07:00","sortable_name":"Jill,
        Jack","short_name":"Jack Jill","sis_user_id":null,"integration_id":null,"sis_import_id":null,"login_id":"jack@jill.com","locale":null}'
  recorded_at: Fri, 16 Nov 2018 13:34:41 GMT
recorded_with: VCR 4.0.0
