---
http_interactions:
- request:
    method: post
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com//api/v1/courses/1/modules/
    body:
      encoding: UTF-8
      string: course_id=1&module[name]=Rspec%20Test%20Module%20Name&module[unlock_at]=&module[position]=&module[require_sequential_progress]=&module[prerequisite_module_ids][]=&module[publish_final_grade]=
    headers:
      Authorization:
      - Bearer gwMCIcYPoUt7QrpWPe1g6DzLYjj3VW027IcYka3y6JuVOntsztuHMQoi9MEVkUcf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.5512761479999992'
      X-Session-Id:
      - '0215157698a076e0c06f3fd6e055f31d'
      X-Request-Context-Id:
      - f156320b-c8c0-4759-a1d8-b94514334d4f
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000026;dk=10000000000003;o=context_modules_api;n=create;t=Course;i=1;b=868424;m=868424;u=0.29;y=0.02;d=0.26;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"0496de893089f5a67a0569edf6b42ce1"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":23,"name":"Rspec Test Module Name","position":0,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/23/items"}'
  recorded_at: Wed, 07 Nov 2018 14:17:56 GMT
recorded_with: VCR 4.0.0
