---
http_interactions:
- request:
    method: delete
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com//api/v1/courses/1/modules/23
    body:
      encoding: UTF-8
      string: id=23&course_id=1
    headers:
      Authorization:
      - Bearer nprxekGQGKGqfG7bTKjbfgQfarJX12zxHvb8V0u5B9rVoshsjapGtpOKWsw4C0xW
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.28995557900000124'
      X-Session-Id:
      - c89bbd35784e31b4f4ea32155ebc5b04
      X-Request-Context-Id:
      - 3e2fd0cc-45af-4f94-b2da-7e1a8056ca6c
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000026;dk=10000000000003;o=context_modules_api;n=destroy;t=Course;i=1;b=868424;m=868424;u=0.19;y=0.01;d=0.10;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"9cbb4db0c53deef02e034fd0ef0791a6"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":23,"position":0,"name":"Rspec Test Module Name","unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/23/items"}'
  recorded_at: Wed, 07 Nov 2018 14:43:09 GMT
recorded_with: VCR 4.0.0
