---
http_interactions:
- request:
    method: get
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com//api/v1/courses/1/modules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gwMCIcYPoUt7QrpWPe1g6DzLYjj3VW027IcYka3y6JuVOntsztuHMQoi9MEVkUcf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.07246146099999871'
      X-Session-Id:
      - 26e9dd93e46c6631e94904c32f9941d1
      X-Request-Context-Id:
      - 40ac20c4-a7ae-46d7-b87e-b91bcaaab3c4
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000026;dk=10000000000003;o=context_modules_api;n=index;t=Course;i=1;b=868424;m=868424;u=0.06;y=0.00;d=0.01;
      X-Canvas-User-Id:
      - '10000000000001'
      Link:
      - <http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules?page=1&per_page=10>;
        rel="current",<http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules?page=2&per_page=10>;
        rel="next",<http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules?page=1&per_page=10>;
        rel="first",<http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules?page=2&per_page=10>;
        rel="last"
      Etag:
      - W/"6eb5d903486006b590cba8f365347f7a"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":19,"name":"Update Postman Name 19","position":0,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/19/items"},{"id":12,"name":"Update
        Postman name 2","position":6,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/12/items"},{"id":16,"name":"Test
        Module Postman","position":7,"unlock_at":null,"require_sequential_progress":false[...]
