---
http_interactions:
- request:
    method: put
    uri: http://ec2-100-24-107-33.compute-1.amazonaws.com//api/v1/courses/1/modules/16
    body:
      encoding: UTF-8
      string: id=16&course_id=1&module[name]=Rspec%20Test%20Updated%20Module%20Name&module[unlock_at]=&module[position]=&module[require_sequential_progress]=&module[prerequisite_module_ids][]=&module[publish_final_grade]=
    headers:
      Authorization:
      - Bearer nprxekGQGKGqfG7bTKjbfgQfarJX12zxHvb8V0u5B9rVoshsjapGtpOKWsw4C0xW
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Request-Cost:
      - '0.37461878499999957'
      X-Session-Id:
      - ecc479b47ff8a344143fce7fecfb7204
      X-Request-Context-Id:
      - 8c6805e3-d52e-47df-848b-1f838b4ecc9f
      X-Rate-Limit-Remaining:
      - '600.0'
      X-Canvas-Meta:
      - at=10000000000026;dk=10000000000003;o=context_modules_api;n=update;t=Course;i=1;b=868424;m=868424;u=0.27;y=0.01;d=0.10;
      X-Canvas-User-Id:
      - '10000000000001'
      Etag:
      - W/"9fcdd4a2eb1b576ac932faaa2a3440ba"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"Rspec Test Updated Module Name","position":0,"unlock_at":null,"require_sequential_progress":false,"publish_final_grade":false,"prerequisite_module_ids":[],"published":false,"items_count":0,"items_url":"http://ec2-100-24-107-33.compute-1.amazonaws.com/api/v1/courses/1/modules/16/items","publish_warning":false}'
  recorded_at: Wed, 07 Nov 2018 14:55:24 GMT
recorded_with: VCR 4.0.0
