/* TopicContentView */
.topic-content-view {
  margin-bottom: 20px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
}

.topic-content-item-group {
  margin-top: 0 !important;
}

.topic-content-item {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.topic-content-item > .content {
  padding: 1em !important;
}

.topic-content-item-header {
  padding-top: 20px !important;
  color: #61656b !important;
}

.topic-content-share-button {
  float: right;
  margin-right: 2% !important;
}
.topic-content-share-button-icon {
  margin: 0 !important;
}

.topic-content-select {
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/* TopicContentEventList */
.event-list-item-group {
  margin-top: 0 !important;
}

.topic-content-event-item {
  margin: 0 !important;
  padding: 1em 2em !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.topic-content-event-item:hover {
  background-color: #f2f3f4 !important;
}

.topic-content-event-item-header > a:hover {
  color: #fe664c !important;
  text-decoration: underline;
}

.topic-content-event-item-meta {
  font-style: italic;
}
