/* TODO: Need to pick a CSS framework
 faking a namespace for now */
.sba {
    background-color: #F8F8F8;
}

.search_page {
}

.search_page h1 {
    display: inline;
}

.search_page .search_page_header {
    padding-bottom: 15px;
}

.search_page .search_result_item {
    background-color: white;
    border: 1px solid #E8E8E8;
    box-shadow: 5px 6px 8px #E8E8E8;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 7px;
}
